table {

    border-collapse: collapse;
    color: #666;
}

td.rank {
    text-transform: capitalize;
    font-weight: 600;
}

.tablerank td, .wrapper th {
    padding: 1em 0.5em;
    text-align: left;
    border: solid #cedae4;
    border-width: 0 0 1px;
}

.th-25{
    max-width: 25%;
}

.points {
    color: #000;
    font-weight: bold;
}

.green {
    color: #54c08b;
}

.yellow {
    color: yellow;
}

.red {
    color: #f5716e;
}