<link rel="stylesheet" href="static/style.css" type="text/css">
{% block body %}
{% for adv in opponents %}
<h5>{{adv}}</h5>
<table>
    <thead>
        <th>Date</th>
        <th>Terrain</th>                                                                                           
        <th>Domicile</th>
        <th>Extérieur</th>
        <th>Score</th>    
    </thead>
    <tbody class="tablerank">
        {% for journee in opponents[adv] %}
        <tr class="{{journee['html_class']}}">
            <td>{{journee['Date']}}</td>
            <td>{{journee['Terrain']}}</td>
            <td>{{journee['Equipedom']}}</td>
            <td>{{journee['Equipeext']}}</td>
            <td>{% if journee['Scoredom'] is not none %}
                {{journee['Scoredom']}} - {{journee['Scoreext']}}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}
